<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/1.style.css">
<body>
    <h1>WELCOME THIS IS GAME 2 !</h1>
    <BR>
    <h3>THIS IS GAME OF LUCKY NUMBER * </h3>
     <H2> YOUR NUMBER IS :<%= num %></H2>
     <% if(num>5){ %>
     <h1 class="win"> YEES YOU WON </h1>
     <% } else { %>
        <h1 class="lose"> OK DONT WORRY TRY AGAIN </h1>
    <% } %> 
    <a href="/game2"> <button>PLAY AGAIN</button></a>
</body>
</html>